* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  background: #0c192c;
}

.main-container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 37px;
  color: white;
  text-shadow: #f403ec 1px 0 10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26.1vh;
  height: 26.1vh;
  box-sizing: border-box;
}

.loader-dual {
  position: absolute;
  border: 0.2vh solid #0c192c;
}

.loader-dual__big {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 1.3vh #0c192c;
  border-radius: 50%;
  border-left: 0.2vh solid #f403ec;
  border-top: 0.2vh solid #f403ec;
  animation: loader-animate 2s 2 linear forwards;
}

.loader-dual__small {
  top: 3.9vh;
  left: 3.9vh;
  right: 3.9vh;
  bottom: 3.9vh;
  box-shadow: 0 0 1.3vh #0c192c;
  border-radius: 50%;
  border-right: 0.2vh solid #834ce8;
  border-bottom: 0.2vh solid #834ce8;
  animation: loader-animate-reverse 2s 2 linear forwards;
}

.circle {
  position: absolute;
  top: calc(50% - 0.1vh);
  left: 50%;
  width: 50%;
  height: 0.2vh;
  transform-origin: left;
}

.circle:before {
  content: "";
  position: absolute;
  width: 1.3vh;
  height: 1.3vh;
  border-radius: 50%;
  background: #fff;
  top: -0.5vh;
  right: -0.7vh;
}

.loader-dual__big .circle {
  transform: rotate(-45deg);
}

.loader-dual__big .circle::before {
  background: #f403ec;
  box-shadow: 0 0 2.6vh #f403ec, 0 0 5.2vh #f403ec, 0 0 7.8vh #f403ec, 0 0 10.4vh #f403ec, 0 0 13vh #f403ec, 0 0 0 0.6vh #0c192c;
}

.loader-dual__small .circle {
  transform: rotate(-45deg);
}

.loader-dual__small .circle::before {
  background: #834ce8;
  box-shadow: 0 0 2.6vh #834ce8, 0 0 5.2vh #834ce8, 0 0 7.8vh #834ce8, 0 0 10.4vh #834ce8, 0 0 13vh #834ce8, 0 0 0 0.6vh #0c192c;
}

@keyframes loader-animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes vanishing-home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.vanishing {
  position: relative;
  animation: vanishing-home 8s 2s backwards;
}

.bubbles-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
  z-index: -100;
}
.bubbles span {
  position: relative;
  width: 4vh;
  height: 4vh;
  background: #834ce8;
  margin: 0 0.5vh;
  border-radius: 50%;
  box-shadow: 0 0 0 1.3vh rgba(131, 76, 232, 0.2666666667), 0 0 6.5vh #834ce8, 0 0 13vh #834ce8;
  animation: bubbles-animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #f403ec;
  box-shadow: 0 0 0 1.3vh rgba(244, 3, 236, 0.2666666667), 0 0 6.5vh #f403ec, 0 0 13vh #f403ec;
}

@keyframes bubbles-animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
.element {
  animation: element-apparition 3000ms ease-in-out both;
}
.element--1 {
  animation-delay: 150ms;
}
.element--2 {
  animation-delay: 300ms;
}
.element--3 {
  animation-delay: 450ms;
}
.element--4 {
  animation-delay: 600ms;
}
.element--5 {
  animation-delay: 750ms;
}
.element--6 {
  animation-delay: 900ms;
}
.element--7 {
  animation-delay: 1050ms;
}
.element--8 {
  animation-delay: 1200ms;
}
.element--9 {
  animation-delay: 1350ms;
}
.element--10 {
  animation-delay: 1500ms;
}
.element--11 {
  animation-delay: 1650ms;
}
.element--12 {
  animation-delay: 1800ms;
}
.element--13 {
  animation-delay: 1950ms;
}
.element--14 {
  animation-delay: 2100ms;
}
.element--15 {
  animation-delay: 2250ms;
}
.element--16 {
  animation-delay: 2400ms;
}
.element--17 {
  animation-delay: 2550ms;
}
.element--18 {
  animation-delay: 2700ms;
}
.element--19 {
  animation-delay: 2850ms;
}

@keyframes element-apparition {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.nav-menu li {
  padding: 3.9vh;
  font-size: 2.9vh;
}
.nav-menu li a {
  text-decoration: none;
  padding: 1.3vh;
  border: 0.1vh solid #834ce8;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #834ce8;
  transition: ease-out 0.3s;
}
.nav-menu li a:hover {
  cursor: grab;
  box-shadow: inset 400px 0 0 0 rgba(244, 3, 236, 0.9);
  transition: 0.5s;
}

.presentation__title h1 {
  font-size: 9vh;
  font-weight: 500;
  text-align: center;
  margin-top: 6.5vh;
  text-shadow: #834ce8 1px 0 10px;
}

.presentation__text {
  color: #fff;
  text-align: center;
  font-size: x-large;
  line-height: 5vh;
  margin: 3.9vh;
}

.presentation__skills {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  padding: 6.5vh;
}
.presentation__skills h3 {
  text-shadow: #834ce8 1px 0 10px;
}
.presentation__skills__hard__soft {
  display: flex;
  justify-content: space-around;
}
.presentation__skills__hard img {
  margin: 2.6vh;
  width: 11.7vh;
  height: 10.4vh;
  margin-left: 0;
}
.presentation__skills__soft ul {
  column-count: 2;
  list-style-type: none;
  margin: 2.6vh;
  margin-left: 0;
}

#projects__container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.details__project__wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.element--9 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 1;
}

.element--10 {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row: 2;
}

.element--11 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 3;
}

.element--12 {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row: 4;
}

.element--13 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 5;
}

.element--14 {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row: 6;
}

.details__project {
  margin-top: 30px;
  max-width: 650px;
  overflow: hidden;
  font-weight: 500;
  border-radius: 4px;
}
.details__project h3 {
  color: #0c192c;
}
.details__project p {
  color: #0c192c;
}
.details__project[open] {
  background: linear-gradient(90deg, rgb(250, 250, 250) 38%, rgb(12, 25, 44) 100%);
}
.details__project:not([open]) .marker:after {
  transform: rotate(0deg);
}
.details__project summary {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  background: #0c192c;
  border: 1px solid #834ce8;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
  z-index: 1;
  box-shadow: inset 0 0 0 0 #834ce8;
  transition: ease-out 0.3s;
}
.details__project summary:hover {
  cursor: grab;
  box-shadow: inset 800px 0 0 0 rgba(244, 3, 236, 0.9);
  transition: 0.5s;
}

.marker {
  position: absolute;
  top: calc(50% - 6px);
  right: 24px;
}
.marker:before, .marker:after {
  content: "";
  position: absolute;
  height: 12px;
  width: 2px;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: rotate(90deg);
  transition: all linear 0.2s;
}

.project__text__img {
  padding: 20px;
}
.project__text__img h3 {
  font-size: 18px;
}
.project__text__img p {
  font-size: 16px;
}

.project__img__desktop {
  padding: 1.3vh;
  width: 40%;
  height: 60%;
}

.project__img__mobile {
  padding: 1.3vh;
  width: 20%;
  height: 10%;
}

.links {
  margin: 15%;
}
.links__icons i {
  font-size: 10vh;
  margin: 25px;
}
.links__icons i:hover {
  cursor: grab;
  text-shadow: #f403ec 1px 0 10px;
  font-size: 10.5vh;
  transition: 0.5s;
}
.links__icons__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
