* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sono", sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c192c;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26.1vh;
  height: 26.1vh;
  box-sizing: border-box;
}

.loader-dual {
  position: absolute;
  border: 0.2vh solid #0c192c;
}

.loader-dual__big {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 1.3vh #0c192c;
  border-radius: 50%;
  border-left: 0.2vh solid #f403ec;
  border-top: 0.2vh solid #f403ec;
  animation: loader-animate 2s 2 linear forwards;
}

.loader-dual__small {
  top: 3.9vh;
  left: 3.9vh;
  right: 3.9vh;
  bottom: 3.9vh;
  box-shadow: 0 0 1.3vh #0c192c;
  border-radius: 50%;
  border-right: 0.2vh solid #834ce8;
  border-bottom: 0.2vh solid #834ce8;
  animation: loader-animate-reverse 2s 2 linear forwards;
}

.circle {
  position: absolute;
  top: calc(50% - 0.1vh);
  left: 50%;
  width: 50%;
  height: 0.2vh;
  transform-origin: left;
}

.circle:before {
  content: "";
  position: absolute;
  width: 1.3vh;
  height: 1.3vh;
  border-radius: 50%;
  background: #fff;
  top: -0.5vh;
  right: -0.7vh;
}

.loader-dual__big .circle {
  transform: rotate(-45deg);
}

.loader-dual__big .circle::before {
  background: #f403ec;
  box-shadow: 0 0 2.6vh #f403ec, 0 0 5.2vh #f403ec, 0 0 7.8vh #f403ec, 0 0 10.4vh #f403ec, 0 0 13vh #f403ec, 0 0 0 0.6vh #0c192c;
}

.loader-dual__small .circle {
  transform: rotate(-45deg);
}

.loader-dual__small .circle::before {
  background: #834ce8;
  box-shadow: 0 0 2.6vh #834ce8, 0 0 5.2vh #834ce8, 0 0 7.8vh #834ce8, 0 0 10.4vh #834ce8, 0 0 13vh #834ce8, 0 0 0 0.6vh #0c192c;
}

@keyframes loader-animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes vanishing-home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.vanishing {
  position: relative;
  animation: vanishing-home 8s 2s backwards;
}

.bubbles-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
  z-index: -100;
}
.bubbles span {
  position: relative;
  width: 4vh;
  height: 4vh;
  background: #834ce8;
  margin: 0 0.5vh;
  border-radius: 50%;
  box-shadow: 0 0 0 1.3vh rgba(131, 76, 232, 0.2666666667), 0 0 6.5vh #834ce8, 0 0 13vh #834ce8;
  animation: bubbles-animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #f403ec;
  box-shadow: 0 0 0 1.3vh rgba(244, 3, 236, 0.2666666667), 0 0 6.5vh #f403ec, 0 0 13vh #f403ec;
}

@keyframes bubbles-animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
.element {
  animation: element-apparition 3000ms ease-in-out both;
}
.element--1 {
  animation-delay: 166.6666666667ms;
}
.element--2 {
  animation-delay: 333.3333333333ms;
}
.element--3 {
  animation-delay: 500ms;
}
.element--4 {
  animation-delay: 666.6666666667ms;
}
.element--5 {
  animation-delay: 833.3333333333ms;
}
.element--6 {
  animation-delay: 1000ms;
}
.element--7 {
  animation-delay: 1166.6666666667ms;
}
.element--8 {
  animation-delay: 1333.3333333333ms;
}
.element--9 {
  animation-delay: 1500ms;
}
.element--10 {
  animation-delay: 1666.6666666667ms;
}
.element--11 {
  animation-delay: 1833.3333333333ms;
}
.element--12 {
  animation-delay: 2000ms;
}
.element--13 {
  animation-delay: 2166.6666666667ms;
}
.element--14 {
  animation-delay: 2333.3333333333ms;
}
.element--15 {
  animation-delay: 2500ms;
}
.element--16 {
  animation-delay: 2666.6666666667ms;
}
.element--17 {
  animation-delay: 2833.3333333333ms;
}

@keyframes element-apparition {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.nav-menu li {
  padding: 3.9vh;
  font-size: 2.9vh;
}
.nav-menu li a {
  text-decoration: none;
  padding: 1.3vh;
  border: 0.1vh solid #834ce8;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #834ce8;
  transition: ease-out 0.3s;
}
.nav-menu li a:hover {
  cursor: grab;
  box-shadow: inset 400px 0 0 0 rgba(244, 3, 236, 0.9);
  transition: 0.5s;
}

.presentation__title h1 {
  font-size: 9vh;
  font-weight: 200;
  text-align: center;
  margin-top: 6.5vh;
}

.presentation__text {
  text-align: center;
  font-size: x-large;
  margin: 3.9vh;
}

.presentation__skills {
  font-size: x-large;
  display: flex;
  justify-content: space-around;
  padding: 6.5vh;
}
.presentation__skills__hard img {
  margin: 2.6vh;
  width: 11.7vh;
  height: 10.4vh;
  margin-left: 0;
}
.presentation__skills__soft ul {
  column-count: 2;
  list-style-type: none;
  margin: 2.6vh;
  margin-left: 0;
}

#projects__container h2 {
  font-size: xx-large;
  padding: 4vh;
  text-align: center;
}

.projects__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__card {
  width: 40%;
  height: 40%;
  margin: 2vh;
  background-color: #ffffff;
  border-radius: 0.6vh;
}
.projects__card h3 {
  font-size: larger;
  font-weight: 200;
  padding: 1.3vh;
  color: #000;
  margin-bottom: 2.6vh;
  margin-top: 1.3vh;
}
.projects__card img {
  padding: 1.3vh;
  width: 40%;
  height: 40%;
}
.projects__card:hover {
  box-shadow: 0 0 2vh white;
}

/*.projects__slider {
  width: 91.5vh;
  height: 65.3vh;
  overflow: hidden;
  margin: 3.9vh auto;
  border-radius: 0.6vh;

  h2 {
    padding: 3.9vh;
    text-align: center;
  }
}
.projects__slides {
  width: calc(91.5vh * 6);
  animation: slide-animate 30s infinite;
}

.projects__slide {
  float: left;
  background-color: #ffffff;
  border-radius: 0.6vh;
  width: 91.5vh;
  height: 65.3vh;
  h3 {
    font-weight: 200;
    padding: 1.3vh;
    color: #000;
    margin-bottom: 2.6vh;
    margin-top: 1.3vh;
  }
  img {
    padding: 1.3vh;
    width: 52.2vh;
    height: 39.2vh;
  }
}

@keyframes slide-animate {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  17% {
    transform: translateX(-91.5vh);
  }
  33% {
    transform: translateX(-91.5vh);
  }
  34% {
    transform: translateX(-183vh);
  }
  50% {
    transform: translateX(-183vh);
  }
  51% {
    transform: translateX(-274.5vh);
  }
  67% {
    transform: translateX(-274.5vh);
  }
  68% {
    transform: translateX(-366vh);
  }
  84% {
    transform: translateX(-366vh);
  }
  85% {
    transform: translateX(-457.5vh);
  }
  99% {
    transform: translateX(-457.5vh);
  }
  100% {
    transform: translateX(0);
  }
}*/
.links {
  margin: 15%;
}
.links h2 {
  text-align: center;
  font-size: xx-large;
  margin: 5%;
}
.links__icons i {
  font-size: 10vh;
}
.links__icons i:hover {
  cursor: grab;
  color: #834ce8;
  box-shadow: inset 0 0 7vh #0c192c;
  transition: 0.5s;
}
.links__icons__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
