.bubbles-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bubbles {
  position: relative;
  display: flex;

  span {
    position: relative;
    width: 30px;
    height: 30px;
    background: $color-secondary;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #834ce844, 0 0 50px $color-secondary,
      0 0 100px $color-secondary;
    animation: bubbles-animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
  }
}

.bubbles span:nth-child(even) {
  background: $color-primary;
  box-shadow: 0 0 0 10px #f403ec44, 0 0 50px $color-primary,
    0 0 100px $color-primary;
}

@keyframes bubbles-animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
