//Animation du loading spinner présent sur la page d'accueil
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26.1vh;
  height: 26.1vh;
  box-sizing: border-box;
}

.loader-dual {
  position: absolute;
  border: 0.2vh solid $color-background;
}

.loader-dual__big {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 1.3vh $color-background;
  border-radius: 50%;
  border-left: 0.2vh solid $color-primary;
  border-top: 0.2vh solid $color-primary;
  animation: loader-animate 2s 2 linear forwards;
}

.loader-dual__small {
  top: 3.9vh;
  left: 3.9vh;
  right: 3.9vh;
  bottom: 3.9vh;
  box-shadow: 0 0 1.3vh $color-background;
  border-radius: 50%;
  border-right: 0.2vh solid $color-secondary;
  border-bottom: 0.2vh solid $color-secondary;
  animation: loader-animate-reverse 2s 2 linear forwards;
}
.circle {
  position: absolute;
  top: calc(50% - 0.1vh);
  left: 50%;
  width: 50%;
  height: 0.2vh;
  transform-origin: left;
}

.circle:before {
  content: "";
  position: absolute;
  width: 1.3vh;
  height: 1.3vh;
  border-radius: 50%;
  background: #fff;
  top: -0.5vh;
  right: -0.7vh;
}

.loader-dual__big .circle {
  transform: rotate(-45deg);
}

.loader-dual__big .circle::before {
  background: $color-primary;
  box-shadow: 0 0 2.6vh $color-primary, 0 0 5.2vh $color-primary,
    0 0 7.8vh $color-primary, 0 0 10.4vh $color-primary, 0 0 13vh $color-primary,
    0 0 0 0.6vh $color-background;
}

.loader-dual__small .circle {
  transform: rotate(-45deg);
}
.loader-dual__small .circle::before {
  background: $color-secondary;
  box-shadow: 0 0 2.6vh $color-secondary, 0 0 5.2vh $color-secondary,
    0 0 7.8vh $color-secondary, 0 0 10.4vh $color-secondary,
    0 0 13vh $color-secondary, 0 0 0 0.6vh $color-background;
}
@keyframes loader-animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader-animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
    visibility: hidden;
  }
}
