.links {
  margin: 15%;
  h2 {
    text-align: center;
    font-size: xx-large;
    margin: 5%;
  }
  &__icons i {
    font-size: 10vh;
    &:hover {
      cursor: grab;
      color: $color-secondary;
      box-shadow: inset 0 0 7vh $color-background;
      transition: 0.5s;
    }
  }
  &__icons__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
  }
}
