.presentation__title h1 {
  font-size: 9vh;
  font-weight: 200;
  text-align: center;
  margin-top: 6.5vh;
}
.presentation__text {
  text-align: center;
  font-size: x-large;
  margin: 3.9vh;
}
.presentation__skills {
  font-size: x-large;
  display: flex;
  justify-content: space-around;
  padding: 6.5vh;
  &__hard {
    img {
      margin: 2.6vh;
      width: 11.7vh;
      height: 10.4vh;
      margin-left: 0;
    }
  }
  &__soft ul {
    column-count: 2;
    list-style-type: none;
    margin: 2.6vh;
    margin-left: 0;
  }
}
