.projects__slider {
  width: 700px;
  height: 500px;
  overflow: hidden;
  margin: 30px auto;
  border-radius: 5px;

  h2 {
    padding: 30px;
    text-align: center;
  }
}
.projects__slides {
  width: calc(700px * 6);
  animation: slide-animate 30s infinite;
}

.projects__slide {
  float: left;
  background-color: #ffffff;
  border-radius: 5px;
  width: 700px;
  height: 500px;
  h3 {
    font-weight: 200;
    padding: 10px;
    color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  img {
    padding: 10px;
    width: 400px;
    height: 300px;
  }
}

@keyframes slide-animate {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  17% {
    transform: translateX(-700px);
  }
  33% {
    transform: translateX(-700px);
  }
  34% {
    transform: translateX(-1400px);
  }
  50% {
    transform: translateX(-1400px);
  }
  51% {
    transform: translateX(-2100px);
  }
  67% {
    transform: translateX(-2100px);
  }
  68% {
    transform: translateX(-2800px);
  }
  84% {
    transform: translateX(-2800px);
  }
  85% {
    transform: translateX(-3500px);
  }
  99% {
    transform: translateX(-3500px);
  }
  100% {
    transform: translateX(0);
  }
}
